/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
  text-align: center;
  font-family: 'Luxurious Roman';
}

/******************************************
/* LAYOUT
/* urls may break
/*******************************************/
body {
  background-image: url('/img/bg.png'); 
  background-size: cover;
  background-repeat: no-repeat;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
div {
  margin: 10px;
}


button {
  padding: 10px 20px;
  background-color: rgb(215, 195, 105);
  color: white;
  border-radius: 10px;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

input {
  padding: 10px 10px;
}

.red {
  color: red;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

h6 {
  font-size: 18px;
}
